{% extends "base.html" %}

{% block title %}HOME{% endblock %}

{% block content %}
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
	<!-- contruct your home page here -->
	<div style="color: white; background-color: #eee; padding: 50px; border-radius: 30px; margin: 20px;">
		<h1 style="color: #222;">KnowYourNews</h1>
	</div>
	<div id="txt1" style="color: white; padding: 50px; border-radius: 30px; margin-bottom: 20px;">
		<h2>See if you should<br>believe what you read<h2>
	</div>
	<div id="txt2" style="color: white; padding: 50px; border-radius: 30px; margin-bottom: 20px;">
		<h2>Post your findings<br>And help stop fake news<h2>
	</div>
{% endblock %}